


#rights{
    font-size: 30px;
    margin-left: 45%;
    margin-top: 90%;

}

#rights1{
    font-size: 30px;
    margin-left: 45%;
    margin-top: 80%;

}

body{
    background: #fcfcfc;
    font-family: sans-serif;
}

.nav {
    text-align: center;
    font-size: 1rem;
    border-bottom: 1px solid #dee2e6;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 20px;
  }
  
  .nav-link {
    text-decoration: none;
    display: inline-block;
    padding: 13px 13px;
    color: #212529;
    margin-right: 5px;
  }
  
  .nav-link:hover {
    text-decoration:none;
    background-color: #d0ebff;
    border-bottom: 2px solid #339af0
  }
  .nav-link.current {
    border-bottom: 2px solid #1971c2;
  }

  .footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}


#but1 {

    background-color: #339af0;
    border: none;
   color: white;
    padding: 15px 32px;
   text-align: center;
   text-decoration: none;
   font-size: 16px;
   float: right;
}





table{
  width: 500px;
  height: 300px;
  border-collapse: collapse;
  margin-left: 40%;    
  margin-top: 10%;
  text-align: center;
}

table, th, td {
  border: 1px solid rgb(7, 4, 4);
  color: rgb(218, 28, 28);
  
}